body,
html {
  background: #fff;
}
.borde-banner {
  border-bottom: 10px solid #00bbd3;
}
.borde-banner-top {
  border-top: 10px solid #00bbd3;
}
.link-home {
  padding: 20px;
  background: rgba(255,255,255,0.8);
  margin-top: 70px;
  border-radius: 12px;
  -webkit-transition: all 0.5s; /* Safari */
  transition: all 0.5s;
}
.link-home:hover {
  -ms-transform: scale(1.1) /* IE 9 */;
  -webkit-transform: scale(1.1) /* Safari */;
  transform: scale(1.1);
  background: #fff;
}
.link-home h4 {
  text-align: center;
  font-weight: normal;
  color: #fafafa;
  background: rgba(0,187,211,0.73);
  font-family: 'Ubuntu Condensed', sans-serif;
  padding: 10px;
  text-shadow: 1px 1px 3px #888;
  text-transform: uppercase;
}
.link-home img {
  width: 75%;
  margin: 0 auto;
}
.video_intro {
  display: block;
  height: 500px;
  z-index: 999;
  position: absolute;
  text-align: center;
}
#framemapa {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: absolute;
}
.video_intro h3 {
  font-family: 'Ubuntu Condensed', sans-serif;
  text-align: center;
  font-weight: normal;
  color: #00bcd4;
  background: rgba(255,255,255,0.73);
  padding: 20px;
  display: block;
  width: 100%;
  text-shadow: -1px 2px 6px #e0f7fa;
  margin-top: 20px;
  border-radius: 2px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.video_intro a {
  display: inline;
  text-align: center;
}
.home-noticia-cont img {
  width: 100% !important;
  margin: 0px !important;
  height: 270px !important;
}
.home-noticia-cont h4 {
  background-color: rgba(0,0,0,0.5);
}
.home-noticia-cont {
  padding: 10px;
  margin: 20px auto;
}
.home-noticia-titulo {
  border-bottom: 1px solid rgba(255,152,0,0.31);
}
.home-noticia-des {
  padding: 10px;
}
.home-noticias-list {
  font-size: 1em;
}
.home-noticias-list a {
  color: #fff;
  min-height: 70px;
  font-family: 'Ubuntu Condensed', sans-serif;
  padding: 20px;
  display: block;
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.5s;
/* Safari */
  transition: all 0.5s;
}
.home-noticias-list:nth-child(odd) {
  background-color: #eee;
}
.home-noticias-list a > img {
  margin-right: 10px;
}
.home-noticias-list a:hover > img {
  border-radius: 0px !important;
}
.home-noticias-list a:hover {
  text-shadow: 1px 1px 3px #888;
}
.home-noticias-list:nth-child(odd) a {
  color: #333;
}
.home-noticias-list:nth-child(even) {
  background-color: #00bcd4;
}
/***********************************************************/
time.icon {
  font-size: 1em;
  display: block;
  position: relative;
/* top: 15px; */
  width: 100%;
  height: 250px;
  background-color: #fff;
  background: rgba(255,255,255,0.5);
/* border-radius: 0.6em; */
  box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
  overflow: hidden;
}
time.icon * {
  display: block;
  width: 100%;
  font-size: 1.6em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}
time.icon p {
  display: inline-block;
  margin-top: 15%;
  font-size: 1.2em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}
time.icon strong {
  position: absolute;
  top: 0;
  padding: 0.4em 0;
  color: #fff;
  background-color: #fd9f1b;
  border-bottom: 1px dashed #f37302;
  box-shadow: 0 2px 0 #fd9f1b;
}
time.icon em {
  position: absolute;
  top: 75%;
  color: #4d4848;
  font-size: 3em;
}
time.icon span {
  font-size: 6em;
  letter-spacing: -0.05em;
  padding-top: 0.8em;
  color: #2f2f2f;
}
time.icon a {
  position: relative;
  display: block;
  width: 145px;
  height: 30px;
  margin-left: 107px;
  text-align: center;
  top: 6px;
  font-size: 0.9em;
  font-weight: bold;
}
time.icon:hover,
time.icon:focus {
  -webkit-animation: swing 0.6s ease-out;
  animation: swing 0.6s ease-out;
}
.evento-title {
  color: rgba(0,0,0,0.77);
  font-size: 16px !important;
  line-height: 1.2 !important;
}
.texto_ciidept {
  background: rgba(255,255,255,0.5);
  padding: 10px 10px 10px 10px;
  top: 15px;
  height: 255px;
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
.texto_ciidept a {
  font-family: 'Open Sans', sans-serif;
}
.eventos_texto {
  background: rgba(255,255,255,0.5);
  padding: 10px 10px 10px 10px;
  top: 15px;
  height: auto;
  text-align: justify;
  font-family: 'Ubuntu Condensed', sans-serif;
}
.eventos_texto a:link,
a:hover {
  text-decoration: none;
}
.eventos_texto h2 {
  margin-left: 18px;
  font-weight: bold;
}
.noticias_texto {
  background: rgba(255,255,255,0.5);
  padding: 10px 10px 10px 10px;
  top: 15px;
  height: auto;
  text-align: justify;
  font-family: 'Ubuntu Condensed', sans-serif;
}
.noticia_card h3 {
  background-color: rgba(0,0,0,0.5);
  padding: 5px;
  margin-left: 21px;
}
div.card-body {
  overflow: auto;
}
.reservas_texto {
  background: rgba(255,255,255,0.5);
  padding: 10px 10px 10px 10px;
  top: 15px;
  height: auto;
}
.bread_style {
  margin-top: 15px;
  font-color: #fff;
}
.imagen_articulo {
  height: 70%;
  width: 90%;
}
.botones_nav {
  padding-top: 84px;
}
.menu_ciidept {
  font-weight: bold;
  margin-top: 0px;
  background-color: rgba(0,187,211,0.73) !important;
}
.menu_ciidept .navbar-brand {
  color: #000 !important;
}
.menu_ciidept .navbar-nav {
  margin-left: 13px !important;
}
.menu_ciidept li:hover {
  background: rgba(255,255,255,0.3);
}
@-webkit-keyframes swing {
  0% {
    -webkit-transform: rotate(0deg) skewY(0deg);
  }
  20% {
    -webkit-transform: rotate(12deg) skewY(4deg);
  }
  60% {
    -webkit-transform: rotate(-9deg) skewY(-3deg);
  }
  80% {
    -webkit-transform: rotate(6deg) skewY(-2deg);
  }
  100% {
    -webkit-transform: rotate(0deg) skewY(0deg);
  }
}
#framemapa {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: absolute;
}
.form-group .form-control {
  border: 1px solid #a7a7a7 !important;
  background: #fafafa;
  background-image: none !important;
  padding: 0px 7px !important;
/* background-size: 0 2px,100% 1px; */
/* background-repeat: no-repeat; */
/* background-position: center bottom,center calc(100% - 1px); */
/* background-color: transparent; */
/* transition: background 0s ease-out; */
/* float: none; */
/* box-shadow: none; */
/* border-radius: 0; */
}
.form-group {
  position: relative;
  margin: 15px 0 0;
  padding-bottom: 7px;
}
fieldset {
  margin: 0 0 30px !important;
}
fieldset legend {
  padding: 5px 0 !important;
  font-size: 18px !important;
}
label {
  margin: 0;
  font-weight: normal;
}
.strong {
  font-weight: bold;
}
.form-group:after {
  content: '';
  display: table;
  clear: both;
}
.control-label {
  display: block;
  padding: 6px;
  font-size: 12px;
  line-height: 22px;
  text-transform: uppercase;
  font-weight: normal;
  color: #999;
  background: rgba(0,0,0,0.014);
}
.control-label.control-label-sm {
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 20px;
  font-size: 11px;
}
.control-label.control-label-lg {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 26px;
  font-size: 14px;
}
label .additional,
.control-label .additional {
  color: #999;
}
.form-control {
  font-weight: normal;
  border: 1px solid #ddd;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
.form-control:focus {
  border-color: #4fd0fb;
}
.help-block {
  font-size: 12px;
  margin: 2px 0 0;
  color: #999;
}
.required-field {
  display: inline;
  font-size: 18px;
  line-height: 12px;
  color: #f45858;
}
/*
  Horizontal form
*/
.form-horizontal .control-label {
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
}
.form-horizontal .has-feedback .form-control-feedback {
  right: 0;
}
/*
  Input with icons
*/
.form-control-feedback {
  color: #ccc;
}
.has-feedback.has-left-icon .form-control {
  padding-left: 42.5px;
  padding-right: 12px;
}
.has-feedback.has-left-icon .form-control-feedback {
  left: 0;
  right: auto;
}
/*.has-success .form-control { border-color: #0ac964; }
.has-success .form-control-feedback { color: #0ac964; }

.has-warning .form-control { border-color: #c19716; }
.has-warning .form-control-feedback { color: #c19716; }

.has-error .form-control { border-color: #f45858; }
.has-error .form-control-feedback { color: #f45858; }*/
.bg-footer {
  background: rgba(0,0,0,0.83);
  color: #f5f5f5;
}
.full button span {
  background-color: #32cd32;
  border-radius: 32px;
  color: #000;
}
.partially button span {
  background-color: #ffa500;
  border-radius: 32px;
  color: #000;
}
.bg-footer a {
  color: #fff;
}
.footer-div,
.footer-div-center {
  padding: 20px;
}
@-moz-keyframes swing {
  0% {
    transform: rotate(0deg) skewY(0deg);
  }
  20% {
    transform: rotate(12deg) skewY(4deg);
  }
  60% {
    transform: rotate(-9deg) skewY(-3deg);
  }
  80% {
    transform: rotate(6deg) skewY(-2deg);
  }
  100% {
    transform: rotate(0deg) skewY(0deg);
  }
}
@-webkit-keyframes swing {
  0% {
    transform: rotate(0deg) skewY(0deg);
  }
  20% {
    transform: rotate(12deg) skewY(4deg);
  }
  60% {
    transform: rotate(-9deg) skewY(-3deg);
  }
  80% {
    transform: rotate(6deg) skewY(-2deg);
  }
  100% {
    transform: rotate(0deg) skewY(0deg);
  }
}
@-o-keyframes swing {
  0% {
    transform: rotate(0deg) skewY(0deg);
  }
  20% {
    transform: rotate(12deg) skewY(4deg);
  }
  60% {
    transform: rotate(-9deg) skewY(-3deg);
  }
  80% {
    transform: rotate(6deg) skewY(-2deg);
  }
  100% {
    transform: rotate(0deg) skewY(0deg);
  }
}
@keyframes swing {
  0% {
    transform: rotate(0deg) skewY(0deg);
  }
  20% {
    transform: rotate(12deg) skewY(4deg);
  }
  60% {
    transform: rotate(-9deg) skewY(-3deg);
  }
  80% {
    transform: rotate(6deg) skewY(-2deg);
  }
  100% {
    transform: rotate(0deg) skewY(0deg);
  }
}
