body,html
 background: #fff 
.borde-banner
  border-bottom:10px solid #00BBD3
  
.borde-banner-top
  border-top:10px solid #00BBD3

.link-home
  padding: 20px 
  background: rgba(255,255,255,0.8)
  margin-top:70px  
  border-radius: 12px
  -webkit-transition: all 0.5s; /* Safari */
  transition: all 0.5s;
  
  &:hover
       -ms-transform: scale(1.1) /* IE 9 */
       -webkit-transform: scale(1.1) /* Safari */
       transform: scale(1.1)
       background: rgba(255,255,255,1)
       
  & h4
     text-align:center
     font-weight:normal
     color: #fafafa
     background: rgba(0, 187, 211, 0.73)
     font-family:'Ubuntu Condensed', sans-serif
     padding: 10px
     text-shadow: 1px 1px 3px #888
     text-transform: uppercase
  & img 
  	 width: 75%  
  	 margin:0 auto
     
  	 
     
     
.video_intro{
  display: block; 
  height: 500px;
  z-index: 999;
  position: absolute; 
  text-align: center;  

} 

.video_intro h3{
    font-family: 'Ubuntu Condensed', sans-serif;
    text-align: center;
    font-weight: normal;
    color: #fafafa;
    background: rgba(0, 187, 211, 0.73);
    padding: 20px;
    display: block;
    width: 100%;
    text-shadow: -1px 2px 6px rgba(150, 150, 154, 1);
    margin-top:20px;
    
}  

.video_intro a{
  display: inline;
  // top: 90px;
  text-align: center;

}  

.home-noticia-cont
  padding: 10px
  margin:20px auto
.home-noticia-titulo
  border-bottom: 1px solid rgba(255, 152, 0, 0.31)
.home-noticia-des
  padding: 10px

.home-noticias-list { padding: 10px; font-size: 1em; text-align: center; min-height: 70px;}
.home-noticias-list a {color:white;  font-family:'Ubuntu Condensed', sans-serif;}
.home-noticias-list:nth-child(odd){ background-color:#EEE }
.home-noticias-list:nth-child(odd) a { color:#333;}
.home-noticias-list:nth-child(even) { background-color:#00BCD4 }


/***********************************************************/

time.icon
{
  font-size: 1em; /* change icon size */
  display: block;
  position: relative;
  top: 15px;
  width: 100%;
  height:250px;
  background-color: #fff;
  background: rgba(255,255,255,0.5) ;
  border-radius: 0.6em;
  box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
  overflow: hidden;
}

time.icon * {
    display: block;
    width: 100%; 
    font-size: 1.6em;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}
time.icon p{
    display: inline-block;
    margin-top: 15%;
    font-size: 1.2em;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}
time.icon strong
{
  position: absolute;
  top: 0;
  padding: 0.4em 0;
  color: #fff;
  background-color: #fd9f1b;
  border-bottom: 1px dashed #f37302;
  box-shadow: 0 2px 0 #fd9f1b;
}

time.icon em {
    position: absolute;
    top: 50%;
    color: #ffffff;
    font-size: 1.6em;
}

time.icon span
{
  font-size: 4em;
  letter-spacing: -0.05em;
  padding-top: 0.8em;
  color: #2f2f2f;
}

time.icon a {
  position: relative;
  display: block;
  width: 145px;
  height: 30px;
  margin-left: 107px;
  text-align: center;
  top: 6px;
  font-size: 0.9em;
  font-weight: bold;
}

time.icon:hover, time.icon:focus
{
  -webkit-animation: swing 0.6s ease-out;
  animation: swing 0.6s ease-out;
}

.texto_ciidept {
  background: rgba(255,255,255,0.5) ;
  padding: 10px 10px 10px 10px;
  top: 15px;
  height:255px ;
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.texto_ciidept a{
  font-family: 'Open Sans', sans-serif;
}

.eventos_texto {
  background: rgba(255,255,255,0.5) ;
  padding: 10px 10px 10px 10px;
  top: 15px;
  height:auto ;
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
.eventos_texto a:link, a:hover{
  text-decoration: none;

}
.eventos_texto h2{
  margin-left: 18px;
}
.reservas_texto {
  background: rgba(255,255,255,0.5) ;
  padding: 10px 10px 10px 10px;
  top: 15px;
  height:auto ;
}

.bread_style{
  margin-top: 20px;
}

.botones_nav{
  padding-top: 84px;
}


@-webkit-keyframes swing {
  0%   { -webkit-transform: rotate(0deg)  skewY(0deg); }
  20%  { -webkit-transform: rotate(12deg) skewY(4deg); }
  60%  { -webkit-transform: rotate(-9deg) skewY(-3deg); }
  80%  { -webkit-transform: rotate(6deg)  skewY(-2deg); }
  100% { -webkit-transform: rotate(0deg)  skewY(0deg); }
}

@keyframes swing {
  0%   { transform: rotate(0deg)  skewY(0deg); }
  20%  { transform: rotate(12deg) skewY(4deg); }
  60%  { transform: rotate(-9deg) skewY(-3deg); }
  80%  { transform: rotate(6deg)  skewY(-2deg); }
  100% { transform: rotate(0deg)  skewY(0deg); }
}

  