 @media only screen and (max-width: 320px) {

  	 
     
     
.video_intro{
  display: block; 
  height: auto;
  z-index: 999;
  position: absolute; 
  text-align: center;  

} 

 }
 
 /* Desktops and laptops ----------- */
 @media only screen 
 and (min-width : 1224px) {
 	/* Styles */
 }