<div class="borde-banner-top"></div>
<div class="bg-footer">
<div class="container">
	<div class="row">
		<div class="col-md-4">
		<div class="footer-div">
			<h4>Centro de Innovación e Investigación para el Desarrollo Educativo, Productivo y Tecnológico</h4>
			<ul class="list-unstyled">
				<li><strong>Dirección: </strong>	Av. José Ingenieros 260 - San Miguel de Tucumán (4000)</li>
				<li><strong>Teléfono: </strong>4279700</li>
			</ul>
</div>
		</div>
		<div class="col-md-4">
		<div class="footer-div-center">
			<h4>Suscríbase a nuestro boletín de novedades</h4>
			<form action="">
				<div class="form-group">
					<label for="">Ingrese su dirección de correo electrónico</label>
					<input type="email" required="" class="form-control">

				</div>
				<button class="btn btn-warning">Suscribirse</button>
			</form>
			</div>
		</div>
		<div class="col-md-4">
		<div class="footer-div">
			<h4>Enlaces</h4>
			<ul class="list-unstyled">
				<li><a href="http://www.educaciontuc.gov.ar/" target="_blank">Ministerio de Educación de Tucumán</a></li>
				<li><a href="http://innovacioneducativa.gob.ar/" target="_blank">Coordinación de Innovación Educativa</a></li>
			</ul>
			</div>
		</div>
	</div>
</div>
</div>