 <div class="video_intro">
          <video-bg video-id="'-a2IRgh2wrU'" class="filtro-gris hidden-xs" >
          </video-bg> 
          <div class="container">
          <div class="row">  
       
            
            <div class="col-md-8 col-md-offset-2 col-xs-12"> 
              <h3>
                Desde el CIIDEPT trabajamos para mejorar la calidad educativa de la mano de las nuevas tecnologías. Esperamos que este espacio se constituya en la plataforma virtual de encuentro e intercambio de nuestra institución.
              </h3>
              
               
           
               <div class="row">  
            <div class="col-md-3 col-xs-6 col-sm-6">
            <div class="link-home">
              <a href="/noticias">
                 <img src="img/noticias-logo.svg" alt="" class="img-responsive">
                 <h4>Noticias</h4>
              </a>
            </div>
             
            </div>
            <!--  -->
             <div class="col-md-3 col-xs-6 col-sm-6">
            <div class="link-home">
              <a href="/proyectos">
                 <img src="img/proyectos-logo.svg" alt="" class="img-responsive">
                 <h4>Proyectos</h4>
              </a>
            </div>
             
            </div>
                <!--  -->
             <div class="col-md-3 col-xs-6 col-sm-6">
            <div class="link-home">
              <a href="/enlaces">
                 <img src="img/enlaces-logo.svg" alt="" class="img-responsive">
                 <h4>Enlaces</h4>
              </a>
            </div>
             
            </div>
              <!--  -->
             <div class="col-md-3 col-xs-6 col-sm-6">
            <div class="link-home">
              <a href="/reservas">
                 <img src="img/reservas-logos.svg" alt="" class="img-responsive">
                 <h4>Reservas</h4>
              </a>
            </div>
             
            </div>
          
          </div>
           </div>
            </div>
          </div>
      </div>


      <div class="container">
    <!-- <video autoplay="autoplay" loop="loop" id="video_background" preload="auto" volume="50"/>
        <source src="/img/CIIDEPT-INSTITUCIONAL.mp4" type="video/mp4" />
     -->
    

        <div class="row">
        
            <div class="col-md-3">
           

                <time datetime="2014-09-20" class="icon">
                    <em>Lunes</em>
                    <strong>Junio</strong>
                    <span>27</span>                   
                    <p> Cantidad de eventos: {{dias.length}}</p>
                    <a href="/eventos" class="btn btn-raised btn-info btn-xs">Ver Eventos</a>
                               
                </time>

            </div>
            <!-- <div class="col-md-9 texto_ciidept">
              <p>
                Desde el CIIDEPT trabajamos para mejorar la calidad educativa de la mano de las nuevas tecnologías. Esperamos que este espacio se constituya en la plataforma virtual de encuentro e intercambio de nuestra institución. <br>
            
                El propósito de este proyecto es que alumnos, docentes, investigadores y la comunidad escolar íntegra dispongan de un sitio para debatir, aprender, enseñar, compartir experiencias e intercambiar información en todos sus formatos, dentro del amplio arco de nuestros intereses académicos, didácticos, políticos y culturales.   
              </p>
              <p ng-repeat="noticia in noticias">
                {{noticia.section_id}}
              </p>
              
            </div> -->
            
            <!-- <div class="col-md-3 texto_ciidept">
              
                    <a href="/" class="btn btn-raised btn-block">Home</a>
                    
                    <a href="/enlaces" class="btn btn-raised btn-block">Enlaces</a>
                    <a href="/reservas" class="btn btn-raised btn-block">Contacto</a>
            </div> -->
            
              <!-- <ul>
                  <li ng-repeat="evento in eventos">
                  {{evento.id}}
                                 </li> 
                   <li ng-repeat="noticia in noticias">
                  {{noticia.section_id}}
                                   </li>  
              
              </ul> -->
         </div> 

           <footer>
             <div class="row">
               <div class="col-md-12 ">
<!--                 <img src="img/1-Logo_nuevo_ciidept.png" alt="" class="img-responsive">
               -->              </div>
               <div class="row">
                 <h2></h2>
               </div>
               
             </div>
           </footer> 
    </div>
