 <div class="video_intro">
          <video-bg video-id="'-a2IRgh2wrU'" class="filtro-gris hidden-xs" >
          </video-bg> 
          <div class="container">
          <div class="row">  
       
            
            <div class="col-md-8 col-md-offset-2 col-xs-12"> 
              <h3>
                Desde el CIIDEPT trabajamos para mejorar la calidad educativa de la mano de las nuevas tecnologías. Esperamos que este espacio se constituya en la plataforma virtual de encuentro e intercambio de nuestra institución.
              </h3>
              
               
           
               <div class="row">  
            <div class="col-md-3 col-xs-6 col-sm-6">
            <div class="link-home">
              <a href="/noticias">
                 <img src="img/noticias-logo.svg" alt="" class="img-responsive">
                 <h4>Noticias</h4>
              </a>
            </div>
             
            </div>
            <!--  -->
             <div class="col-md-3 col-xs-6 col-sm-6">
            <div class="link-home">
              <a href="/proyectos">
                 <img src="img/proyectos-logo.svg" alt="" class="img-responsive">
                 <h4>Proyectos</h4>
              </a>
            </div>
             
            </div>
                <!--  -->
             <div class="col-md-3 col-xs-6 col-sm-6">
            <div class="link-home">
              <a href="/agenda">
                 <img src="img/calendar.svg" alt="" class="img-responsive">
                 <h4>Agenda</h4>
              </a>
            </div>
             
            </div>
              <!--  -->
             <div class="col-md-3 col-xs-6 col-sm-6">
            <div class="link-home">
              <a href="/reservas">
                 <img src="img/reservas-logos.svg" alt="" class="img-responsive">
                 <h4>Reservas</h4>
              </a>
            </div>
             
            </div>
          
          </div>
           </div>
            </div>
          </div>
      </div>

<div class="borde-banner-top"></div>
      <div class="container">
      <div class="row">
      <div class="col-md-12">
      <div class="home-noticia-cont">
       <div class="row">
         <div class="col-md-6">
            <img src="http://ciidept.edu.ar/uploads/image/{{noticia[0].name}}" alt="" class="img-responsive home-noticia-img">
         </div>
         <div class="col-md-6">
           <h2 class="home-noticia-titulo">{{noticia[0].title}}</h2>
          <div class="home-noticia-des" ng-bind-html="noticia[0].abstract"></div>
          <div class="home-noticia-opciones clearfix">
            <a class="btn btn-warning pull-right" href="/noticias/{{ noticia[0].id }}"> Leer más</a>
          </div>
         </div>
       </div>
        
         
          
        </div>
      </div>
      </div>
</div>
<div class="borde-banner-top"></div>
<div class="container">
       <div class="row">
          <div class="col-md-4 col-sm-6">
            <div class="home-ultimas-noticias">
            <h2>Últimas Noticias</h2>
            <ul class="list-unstyled" >
              <li ng-repeat="not in noticias | limitTo: 5 " class="home-noticias-list">
              
              <a href="/noticias/{{not.id}}">
              <img class="img-circle pull-left shadow-z-3" src="http://ciidept.edu.ar/uploads/image/{{not.name}}" alt="icon" width="40" height="40">{{not.title}}
              <span class="home-noticias-btn">Leer más</span>
              </a>
            
              </li>

            </ul>
              <a href="/noticias" class="btn btn-block btn-info">Más noticias</a>
            </div>
            
          </div>
          <div class="col-md-8 col-sm-6">
            <div class="home-ultimas-noticias">
            <h2>Agenda de Eventos</h2>
          
             <div class="row">
               <div class="col-md-4">
                  <time datetime="2014-09-20" class="icon">
                    <em>Lunes</em>
                    <strong>Junio</strong>
                    <span>27</span>                   
                    
                               
                </time>
                <a href="/eventos/hoy" class="btn btn-lg btn-success btn-block" style="margin-top:31px">Eventos para hoy <br> 15</a>
                <a href="/eventos" class="btn btn-lg btn-primary btn-block">Ver Agenda <br> Completa</a>
               </div>
               <div class="col-md-8">
               <div class="list-group">
  <div class="list-group-item" ng-repeat="evento in eventos | limitTo: 5">
    <div class="row-action-primary">
      <i class="material-icons">&#xE916;</i>
    </div>
    <div class="row-content">
   
      <h4 class="list-group-item-heading evento-title" ng-bind-html="evento.title"></h4>
   
      <p class="list-group-item-text" ng-bind-html="evento.date"></p>
    </div>
    <div class="list-group-separator"></div>
  
  </div>
  
  
</div>
               </div>
             </div>
               

          
            
          </div>
          </div>
            
            <!-- <div class="col-md-9 texto_ciidept">
              <p>
                Desde el CIIDEPT trabajamos para mejorar la calidad educativa de la mano de las nuevas tecnologías. Esperamos que este espacio se constituya en la plataforma virtual de encuentro e intercambio de nuestra institución. <br>
            
                El propósito de este proyecto es que alumnos, docentes, investigadores y la comunidad escolar íntegra dispongan de un sitio para debatir, aprender, enseñar, compartir experiencias e intercambiar información en todos sus formatos, dentro del amplio arco de nuestros intereses académicos, didácticos, políticos y culturales.   
              </p>
             
              
            </div> -->
            
            <!-- <div class="col-md-3 texto_ciidept">
              
                    <a href="/" class="btn btn-raised btn-block">Home</a>
                    
                    <a href="/enlaces" class="btn btn-raised btn-block">Enlaces</a>
                    <a href="/reservas" class="btn btn-raised btn-block">Contacto</a>
            </div> -->
            
              <!-- <ul>
                  <li ng-repeat="evento in eventos">
                  {{evento.id}}
                                 </li> 
                   <li ng-repeat="noticia in noticias">
                  {{noticia.section_id}}
                                   </li>  
              
              </ul> -->
         </div> 
</div>

