<section>
	
	<div ng-controller="HomeCtrl" ng-include="template.nav"></div>

<div class="container"> 

	<div class="row"> 
	        <div class="col-md-12">
				<ul class="breadcrumb bread_style">
                    <li><a href="/">Home</a></li>
                    <li class="active"><a href="#">Proyectos</a></li>
                 </ul>		
				<div class="list-group " ng-repeat="proyecto in proyectos">
		  			<div class="list-group-item">
		  			<span>
		    				{{proyecto.publish_date}}
		    			</span>
		    			<div class="row-picture">
		      				<img class="circle" src="http://ciidept.edu.ar/uploads/image/{{proyecto.name}}" alt="icon">
		    			</div>
			    
			    		<div class="row-content">
			      			<a href="/proyectos/{{ proyecto.id }}">
			      			<h4 class="list-group-item-heading"> {{proyecto.title}}</h4>
							</a>
			      			<p class="list-group-item-text" ng-bind-html="proyecto.abstract"></p>
			    		</div>
			  		</div>
			  		<div class="list-group-separator"></div>
	  			</div>
	  		</div>
		</div>
</div>
    <div ng-controller="FooterCtrl" ng-include="template.footer" ></div>    

</section>