<section>

<div ng-controller="HomeCtrl" ng-include="template.nav"></div>

<div class="container"> 
      
	
      <div class="row"> 
      	<div class="col-md-12">
                  <ul class="breadcrumb bread_style">
                    <li><a href="/">Home</a></li>
                    <li class="active"><a href="#">Agenda</a></li>
                  </ul>
                 <div class="list-group noticias_texto" ng-repeat="ag in agendas">
		  			<div class="list-group-item">
		    			<span>
		    				{{ag.fecha}}
		    			</span>
		    			<div class="row-picture">
		    				<i class="material-icons">&#xE916;</i>
<!-- 		    				<img class="circle" src="http://ciidept.edu.ar/img/ic_event_black_24dp_2x.png" alt="icon">
 -->		    			</div>
			    
			    		<div class="row-content">
 			      			<a href="/agenda/{{ ag.id }}"> 
 			      				<h4 class="list-group-item-heading"><strong>Evento: </strong>{{ag.evento}} </h4>
 			      			</a>
 			      			 <p class="list-group-item-text" > <strong>Organizador: </strong>{{ag.organizador}} - <strong>Inicia: </strong>{{ag.entrada | limitTo: 5 }} - <strong>Finaliza: </strong>{{ag.salida | limitTo: 5}}</p>	
			      				<!-- <p class="list-group-item-text">Organizador: {{ agenda.organizador}}
			      				</p> -->
			    		</div>
			  		</div>
			  		<div class="list-group-separator"></div>
	  			</div>
	  		</div>
		</div>
	</div>

</section>