 <section>
 
 <div ng-controller="HomeCtrl" ng-include="template.nav"></div>

 <div class="container"> 
      <div class="row"> 
        <div class="col-md-9 eventos_texto">
			

			<div class="list-group " ng-repeat="evento in eventos">
	  			<div class="list-group-item">
	  			<span>
		    				{{evento.date}}
		    		</span>
	    			<div class="row-content">
		      			<h4 class="list-group-item-heading"> {{evento.title}}</h4>

		      			<p class="list-group-item-text" ng-bind-html="evento.body"></p>
		    		</div>
		  		</div>
		  		<div class="list-group-separator"></div>

  			</div>
  			 
		</div>
		
	</div>
</div>
    <div ng-controller="FooterCtrl" ng-include="template.footer" ></div>    

</section>