<section>

<div ng-controller="HomeCtrl" ng-include="template.nav"></div>

<div class="container"> 
      
	
      <div class="row"> 
      	<div class="col-md-12">
                  <ul class="breadcrumb bread_style">
                    <li><a href="/">Home</a></li>
                    <li class="active"><a href="#">Agenda</a></li>
                  </ul>
                 <div class="list-group noticias_texto" ng-repeat="agenda in agendas">
		  			<div class="list-group-item">
		    			<span>
		    				{{agenda.fecha}}
		    			</span>
		    			<div class="row-picture">
		    				<img class="circle" alt="icon">
		    			</div>
			    
			    		<div class="row-content">
 			      			<a href="/agenda/{{ agenda.id }}"> 
 			      				<h4 class="list-group-item-heading">Evento: {{agenda.evento}}  </h4>
 			      			</a>	
			      				<p class="list-group-item-text">Organizador: {{ agenda.organizador}}
			      				</p>
			    		</div>
			  		</div>
			  		<div class="list-group-separator"></div>
	  			</div>
	  		</div>
		</div>
	</div>

</section>