<section>

<div ng-controller="HomeCtrl" ng-include="template.nav"></div>
<div class="container"> 
      
	
      <div class="row"> 
      	<div class="col-md-12">
                  <ul class="breadcrumb bread_style">
                    <li><a href="/">Home</a></li>
                    <li class="active"><a href="/noticias">Noticias</a></li>
                  </ul>
                 <div class="list-group noticias_texto" ng-repeat="noticia in noticias">
		  			
		  			<div class="list-group-item">
		    			<span>
		    				 {{ noticia.date | limitTo:10}}
		    			</span>
		    			<div class="row-picture">
		    				<img class="circle" src="http://ciidept.edu.ar/uploads/image/{{noticia.name}}" alt="icon">
		    			</div>
			    
			    		<div class="row-content">
			      			<a href="/noticias/{{ noticia.id }}">
			      				<h4 class="list-group-item-heading"> {{noticia.title}}</h4>
			      			</a>
			      			<p class="list-group-item-text" ng-bind-html="noticia.abstract">
			      			</p>
			      		</div>
			  		</div>
			  		<div class="list-group-separator"></div>
	  			</div>
	  		</div>
		</div>
	</div>
	
    <div ng-controller="FooterCtrl" ng-include="template.footer" ></div>    

</section>
