<section>
    
<div ng-controller="HomeCtrl" ng-include="template.nav"></div>

<div class="container">

    <div class="row">  
        <ul class="breadcrumb bread_style">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="#">Reservas</a></li>
        </ul>
        <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <img src="img/underconstruction.jpg" class="img-responsive">
                  </div>
                  <div class="col-sm-12 col-md-6" style="padding-top: 60px">
                    <h3>Para reservas llame al <strong>4972698</strong> de 9 a 13 hs. Sepa 
                    disculpar las molestias ocasionadas.....</h3>
                  </div>
        </div>
    </div>
</div>
    <div ng-controller="FooterCtrl" ng-include="template.footer"></div>    

</section>
